/* umiack.com top page CSS
   Load after top-common.css */

@import url("/common/umiack-site-assets/css/top-base.css");
@import url("/common/umiack-site-assets/css/top-umiack-logo.css");
@import url("/common/umiack-site-assets/css/top-umiack-links.css");

/* Custom overrides go here */

/* 記事一覧 */
/*
.new-entry-cards.large-thumb {
	background-color: var(--color-theme-dark);
	margin: 0;
}
.new-entry-cards .card-title {
	color: white;
}
*/
